{
   "listeners": {
        "*:443": {
            "pass": "applications/fastapi",
	    "tls": {"certificate": "personal_finance_cert"}	
        }
    },

    "applications": {
        "fastapi": {
            "type": "python 3.10",
	    "path": "/home/ubuntu/personal_finance_tracker/backend/fastapi",
	    "module": "api_service",
	    "callable": "app",
	    "user": "ubuntu",
	    "group": "ubuntu"
        }
    }
}
