{
    "listeners": {
        "*:80": {
            "pass": "applications/fastapi"
        }
    },

    "applications": {
        "fastapi": {
            "type": "python 3.10",
            "working_directory": "/home/ubuntu/personal_finance_tracker",
            "path": "/fastapi",
            "home": "/usr/local",
            "module": "api_service",
            "callable": "app"
        }
    }
}